<% if @model == 'user' %>
<h3>User search for"<%= @content %>"</h3>
<!--部分テンプレートで使用されているusersにsearchコントローラで定義されている@recordsを使用している。
@recordsは@content,@methodで検索した結果が入っている-->
<%= render 'users/index', users: @records %>
<!--モデルという変数の中身がbookだったら-->
<% elsif @model == 'book' %>
<h3>Book search for"<%= @content %>"</h3>
<%= render 'books/index', books: @records %>
<% end %>

